{% extends "base.html" %}
{% block title %}Petal Project{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
    <!-- Main form -->
    <div class="container">
      <div class="resp">  
        <h2>Про нас</h2>
        <h3 style="text-align: center;">Ласкаво просимо до <span id="W_Name1">Petal project</span></h3>
        <p><span id="W_Name2">Petal project</span> - це<span id="W_Type1">платформа для класифікації рослин за допомогою штучного інтелекту</span>Тут ми надамо вам лише цікавий контент, який вам дуже сподобається. Ми прагнемо надати вам найкраще<span id="W_Type2">розпізнавання квітів на основі штучного інтелекту</span>, з акцентом на надійність і<span id="W_Spec"> точність</span>. Ми працюємо, щоб перетворити нашу пристрасть до <span id="W_Type3">розпізнавання на основі штучного інтелекту</span> в бум. Сподіваємося, вам сподобається наша проєке наскільки нам подобається пропонувати їх вам.</p>
        <p style="font-weight: bold; text-align: center;">Дякуємо за відвідування нашого сайту<br><br>
        <span style="font-size: 16px; font-weight: bold; text-align: center;">На все добре !</span></p>
      </div>
    </div>
{% endblock %}