{% extends "base.html" %}
{% block title %}Petal Project{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
    <!-- Main form -->
    <div class="main">
      <details>
        <summary style="font-size: 20pt;">
          Рослини на яких велося тренування моделі
          <span class="icon">🌸</span>
        </summary>
        <li>Ромашка - 764 екземплязів</li>
        <li>Кульбаба - 1055 екземпляри</li>
        <li>Троянда - 632 екземпляри</li>
        <li>Соняшник - 784 екземплязів</li>
        <li>Соняшник - 984 екземплязів</li>
      </details>
    </div>
{% endblock %}